body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #c9bfbf;
    color: #fff;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.add-product-btn {
    padding: 10px 20px;
    background-color: #508651;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-product-btn:hover {
    background-color: #45a049;
}

.content {
    padding: 20px;
    /* Adjust as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: flex; /* Show the menu by default on small screens */
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center links horizontally */
    }

    .nav-links.show {
        display: flex; /* Show the menu when button is clicked */
    }

    .navbar-link {
        padding: 10px 0; /* Add spacing between links */
    }

    /* Adjust other styles as needed for responsiveness */
}
